#loginPanel .card {
    width: 300px;
    height: 370px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #313158;
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 15px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#loginPanel .card .top-section {
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#loginPanel .topsvg {
    padding-bottom: 5px;
    position: absolute;
    top: -1px;
}

#loginPanel .card .top-section .border {
    border-bottom-right-radius: 10px;
    height: 30px;
    width: 130px;
    background: #1b233d;
    position: relative;
    transform: skew(-40deg);
    box-shadow: -10px -10px 0 0 #1b233d;
}

#loginPanel .card .top-section .border::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -15px;
    background: rgba(255, 255, 255, 0);
    border-top-left-radius: 10px;
    box-shadow: -5px -5px 0 2px #1b233d;
}

#loginPanel .card .top-section::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(255, 255, 255, 0);
    height: 15px;
    width: 15px;
    border-top-left-radius: 15px;
    box-shadow: -5px -5px 0 2px #1b233d;
}

#loginPanel #ctiTool {
    transition: 2s ease-in;
}

#loginPanel #ctiTool:hover {
    transform: rotate(360deg);
}

#loginPanel .form .form_front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px 10px;
    backface-visibility: hidden;
    padding: 28px 25px 46px;
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
}

#loginPanel .form .form_back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px 10px;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    padding: 45px 25px 55px;
    border-radius: 4px;
}

#loginPanel .form_details {
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui;
    color: rgb(255 255 255);
}

#loginPanel .input,
#loginPanel .select {
    width: 245px;
    min-height: 32px;
    font-family: system-ui;
    font-weight: 600;
    color: #636060;
    outline: none;
    transition: 0.35s;
    padding: 0px 7px;
    background-color: #ffffff;
    border-radius: 6px;
    font-size: 11.5px;
    border: 2px solid #212121;
}

#loginPanel #errorMsg {
    display: none;
    color: #ff001e;
    font-family: math;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 23px;
    width: 86%;
}

#loginPanel .select {
    width: 262px;
}

#loginPanel .input::placeholder {
    color: #999;
}

#loginPanel .input:focus.input::placeholder {
    transition: 0.3s;
    opacity: 0;
}

#loginPanel .input:focus {
    transform: scale(1.05);
}

#loginPanel .btn {
    width: 80px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    border-radius: 2px;
    padding: 1px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition: .2s ease-in;
}

#loginPanel .error {
    color: #fd3c3c;
    display: block;
    font-size: 10px;
    font-weight: 500;
    margin: auto;
    font-family: system-ui;
}

#loginPanel .btn:hover {
    transform: scale(1.05);
}

#loginPanel .text {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(32, 31, 31);
}

#loginPanel .svgIcon {
    width: 32%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(255, 255, 255);
}

#loginPanel .Btn:hover .text {
    background-color: rgb(105, 102, 102);
}

#loginPanel .Btn:hover .svgIcon {
    background-color: rgb(0, 105, 105);
}


.errorX {
    /* display: none; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 288px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #252424;
    border-radius: 8px;
    position: absolute;
    box-shadow: 0px 0px 5px -3px #111;
    right: 20px;
    bottom: 25px;
    right: 25px;
    transition: right 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -100;


}

.errorX.show {
    right: 360px;
    /* Slide in */
}

.error__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.error__icon path {
    fill: #fff;
}

.error__title {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.error__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
}

.error__close path {
    fill: #fff;
}